@using Nimbus.Shared.Services;
@using Nimbus.Shared.Entities;
@inject IRouteRepository RouteRepository;
@inject IFormFactor FormFactor;
@page "/addRoute"

<PageTitle>Add Route</PageTitle>

<h3>AddRoute</h3>

<div class="d-flex">
    <form method="post">
        <div>
            <label for ="nickName">Name for Route:</label>
            <input type="text" name="nickName" @bind="nickName" />
        </div>
    </form>
</div>

<button color="Primary Color" class="btn btn-primary" @onclick="AddNewRoute">Confirm</button>

@* <div class="nav-item px-3">
    <NavLink class="nav-link" href="addStop">
        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Add Stops To Current Route
    </NavLink>
</div> *@
@code {
    public string nickName;
    public RouteEntity route;
    public void AddNewRoute()
    {
        route = RouteRepository.CreateNewRoute();
        route.nickName = nickName;
        RouteRepository.AddRoute(route);
    }
}
