@page "/"
@using Nimbus.Shared.Services
@inject IFormFactor FormFactor

<PageTitle>Home</PageTitle>

<h1>Hello, Driver!</h1>

<form method="get">

    <input type="checkbox" />
</form>
@code {
    private string factor => FormFactor.GetFormFactor();
    private string platform => FormFactor.GetPlatform();
}
