@page "/"
@using Nimbus.Shared.Services;
@using Nimbus.Shared.Entities;
@using Nimbus.Shared.Repositories;
@inject ITruckRepository TruckRepository;
@inject IRouteRepository RouteRepository;
@inject TempService TempService;
@inject IFormFactor FormFactor

<PageTitle>Home</PageTitle>
@if (truck != null && route != null)
{
    <h1>Selected Truck: @truck.id</h1>
<h1>Selected Route: @route.Id, @route.nickName</h1>
}
else
{
    <h1>Please Select Truck and Route</h1>
}

<div class="nav-item px-3">
    <NavLink class="nav-link" href="selectTruck">
        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Select Truck
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="selectRoute">
        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Select Route
    </NavLink>
</div>
@code {
    private string factor => FormFactor.GetFormFactor();
    private string platform => FormFactor.GetPlatform();
    public List<RouteEntity> routes;
    public RouteEntity route;
    public TruckEntity truck;
    public int routeid;
    private string routeSelection;
    // private async Task SaveValue()
    // {
    //     await SecureStorage.Default.SetItemAsync("routeSelection", routeSelection);
    // }
    // public void SelectRoute()
    // {
    //     route = RouteRepository.GetRouteById(routeid);
    // }
    public void OnCheckboxChange(ChangeEventArgs e, RouteEntity route)
    {
        if ((bool)e.Value)
        {
            TempService.selectedRoute = route;
        }
        else
        {
            TempService.selectedRoute = null;
        }
    }
    protected override void OnInitialized()
    {
        try
        {
            truck = TempService.currentTruck;
            route = TempService.selectedRoute;
        }
        catch
        {
        }
    }

    // HttpContext.Session.SetString("truckid", truckid.ToString());
    // Response.Redirect("/selectRoute");
}
