@using Nimbus.Shared.Services;
@using Nimbus.Shared.Entities;
@using Nimbus.Shared.Repositories;
@* @inject ITruckRepository TruckRepository;
@inject SelectionService SelectionService;
@inject IAddressRepository AddressRepository;
@page "/selectTruck"

<h3>Trucks</h3>
<ul>
    @try
    {
        @foreach (TruckEntity truck in TruckRepository.GetAllTrucks())
        {
            <li>@truck.id @truck.mileage</li>
            <button class="btn btn-primary" @onclick="() =>SetTruck(truck.id)">Select</button>
        }
    }
    catch
    {
        <p>No Trucks Available</p>
    }

</ul>

@code {

    public void SetTruck(int id)
    {
        SelectionService.selectedTruck = TruckRepository.GetTruckById(id);
        
    }

} *@