@using Nimbus.Shared.Services;
@using Nimbus.Shared.Entities;
@using Nimbus.Shared.Repositories;
@inject ITruckRepository TruckRepository;
@inject TempService TempService;
@inject IAddressRepository AddressRepository;
@page "/selectTruck"

<h3>Trucks</h3>
<ul>
    @try
    {
    @foreach (TruckEntity truck in TruckRepository.GetAllTrucks())
    {
        <li>@truck.id @truck.mileage</li>
        <button class="btn btn-primary" @onclick="SetTruck">Select</button>
    }
    }
    catch
    {
    <p>No Trucks Available</p>
    }

</ul>
@* @try
{
    <p>Selected Truck: @TempService.currentTruck.id</p>
}
catch
{
    <p>No Truck Selected</p>
} *@
<button class="btn btn-primary" @onclick="SetTruck">Get Manifest</button>
@code {
    private int truckid;

    public void SetTruck()
    {
        TempService.currentTruck = TruckRepository.GetTruckById(truckid);
        
    }

}